/* MAIN APP */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appContainer {
  margin-top: 20px;
}

.navBar {
  font-weight: lighter;
}

.logo {
  width: 50px;
  margin-right: 5px;
}

.dropdown-menu {
  padding: 0;
  width: 200px;
}

.navDropdownItem {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-divider {
  margin: 0;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.hover:hover {
  opacity: 0.8;
}

.maxWidth {
  width: 100%;
}

.hideMe {
  display: none;
}

.bold {
  font-weight: normal;
}

.smallBtn {
  font-size: 10px;
  padding: 5px;
  margin: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardSubHeader {
  border: 1px solid lightgrey;
  font-size: 12px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.errorMessage {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.errorSub {
  font-size: small;
}

.alert {
  display: inline-block;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  border-color: transparent;
  color: black;
  font-weight: lighter;
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(251, 251, 251);
  border-left: solid 1px rgb(218, 218, 218);
  border-right: solid 1px rgb(218, 218, 218);
}

::-webkit-scrollbar-thumb {
  background: #6495ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #4265a7;
}

.siteTitle {
  cursor: pointer;
}

.hideMe {
  display: none;
}

/* AVATARS */
.avatarsContainer {
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  justify-content: center;
  align-items: center;
}

input:checked+label {
  border: 4px solid #4265a7;
  border-radius: 50%;
}

input:checked+label {
  border: 4px solid #4265a7;
  border-radius: 50%;
}

.avatarSelection {
  width: 45px;
  height: 45px;
  opacity: 0.8;
  margin: 0;
  cursor: pointer;
}

.avatarSelection:hover {
  opacity: 1;
}

.avatarSelectionLabel {
  margin: 3px;
  border: 4px solid transparent;
}

.avatarNavbar {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 3px;
  border: solid 1px rgb(207, 207, 207);
  border-radius: 50%;
}

.avatarUserlist {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border: solid 1px rgb(207, 207, 207);
  border-radius: 50%;
  cursor: help !important;
}

/* LOADER */
.loaderContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  overflow: hidden;
}

.loaderContainerTwo {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: .5;
}

.loader {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: conic-gradient(#c9d5ec, #6495ed);
  position: relative;
  animation: spin 1s linear infinite;
  transform: translateZ(0);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: -20px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #cedfff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.loader::after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* AUTH FORMS */

.authForm {
  padding-top: 5%;
  padding-right: 25%;
  padding-left: 25%;
}

.signupForm {
  padding-top: 5px;
  margin-bottom: 25px;
}

.formInput {
  padding: 10px;
}

.formButton {
  margin-top: 25px;
  width: 20%;
  padding: 10px;
}

.formButtonTwo {
  display: inline-block;
}

.hostControls button {
  font-size: small;
}

.authFormTitle {
  font-weight: lighter;
}

.hostFormCard {
  margin-right: 20px;
  padding-top: 20px;
  border: solid 1px rgb(208, 208, 208) !important;
}

.game-type-dropdown {
  padding: 10px;
  width: 100%;
}

.game-type-dropdown-toggle {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  opacity: 0.8;
}

.game-type-dropdown-toggle::after {
  margin: 5px 5px 5px 5px;
  font-size: 15px;
  color: rgb(154, 154, 154) !important;
}

.show>.game-type-dropdown-toggle::after {
  transform: rotate(180deg);
}

.game-type-dropdown-toggle,
.game-type-dropdown-toggle:hover,
.game-type-dropdown-toggle:focus,
.show>.btn-secondary.dropdown-toggle {
  background-color: transparent;
  color: rgb(75, 75, 75) !important;
  border-color: rgb(208, 208, 208) !important;
}

.game-type-dropdown-text {
  display: flex;
  justify-content: flex-start;
}

.game-type-dropdown-menu {
  width: calc(100% - 20px) !important;
}

.joinFormCard {
  padding-top: 20px;
  border: solid 1px rgb(208, 208, 208) !important;
}

.authFormErrorAlert {
  width: 100% !important;
  text-align: center;
  display: inline-block;
  color: red;
}

/* GAME */

.gameFormContainer {
  padding-top: 5%;
}

.gameWindow {
  margin-bottom: 15px;
  margin-right: 1%;
  width: 79%;
  padding: 0;
  height: 85vh;
  overflow: hidden;
}

.gameWindowBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.gameCards {
  flex: 0;
  margin: auto;
  display: inline-block;
  padding: 15px;
}

.gameCardOuter {
  display: inline-block;
  margin: 5px;
  transition: transform 100ms ease-in-out;
  background-color: #adc0e5;
}

.gameCardOuter:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 1;
  background-color: #6495ed;
}

.gameCardOuterTwo {
  display: inline-block;
  margin: 5px;
  background-color: #6495ed;
}

.gameCardOuterSelected {
  display: inline-block;
  margin: 5px;
  margin-top: 15px;
  cursor: default;
  border: none;
}

.gameCard {
  display: inline-block;
  border: solid 1px rgb(208, 208, 208);
  border-radius: 3px;
  margin: 3px;
  width: 5em;
  height: 8em;
  font-size: large;
}

.cardValue {
  margin: auto;
  height: 100%;
  font-size: xx-large;
}

.revealCardFooter {
  background-color: transparent;
  border: none;
}

.revealCardFooterText {
  color: black;
  font-size: .8em;
  max-width: 6vw;
  font-weight: normal !important;
}

.noticeSub {
  font-size: small;
  border-top: solid 1px rgb(208, 208, 208);
  padding-top: 10px;
}

.danger-notice {
  color: rgb(255, 0, 0);
}

.headerLink {
  font-weight: lighter;
  font-size: small;
}

.roomIdIcon {
  margin-left: 10px;
  transition: transform 100ms ease-in-out;
}

.copyClicked {
  color: #6495ed;
  transform: scale(0.9);
}

.usersColumn {
  margin-bottom: 15px;
  width: 20%;
  padding: 0;
  height: 85vh;
}

.userListGroupItem {
  border-left: none;
  border-top: none;
  border-right: none;
}

.usersColumnChild {
  overflow-y: auto;
  padding: 0;
}

.userlist-group-col-l {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  max-width: 70%;
}

.userlist-group-col-r {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  flex-direction: column;
}

.userListUsername {
  font-size: 14px;
  font-weight: lighter;
  margin-left: 5px;
  margin-top: 2px;
}

.userListEmail {
  font-size: 10px;
}

.userListKick {
  font-size: 10px;
  margin-top: 5px;
  margin-right: -2px;
}

.userListBtn {
  font-size: 10px;
  padding: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin: 0;
}

.userListState {
  font-size: 10px;
  color: #6495ed;
  margin-top: 3px;
  font-weight: 400;
}

.userListState[data-color-code="voting"] {
  color: rgb(231, 151, 2);
}

.userListState[data-color-code="voted"] {
  color: rgb(95, 158, 2);
}

.tooltip {
  color: rgb(16, 16, 16) !important;
  background-color: #f6f6f6 !important;
  border: solid 1px #a4a4a4 !important;
  border-radius: 5px !important;
  font-family: 'Montserrat', sans-serif !important;
  padding: 10px !important;
}

.tooltip::after {
  opacity: 0.5;
}

.userListFooter {
  height: 50px;
  padding-top: 10px;
  transition: opacity 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-url-icon {
   margin-left: 5px;
}

.results {
  display: inline-block;
  margin: auto;
}

.results-row {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.results-col-l {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
}

.results-col-r {
  min-width: 400px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results-table {
  width: 100%;
  font-size: small;
}

.results-table img {
  margin: 0 5px 0 5px;
}

.results-table-header-row {
  width: 100%;
  text-align: center;
}

.results-table-col {
  width: 50%;
  padding: 5px;
}

.results-table-row .results-table-col {
  border-top: solid 1.5px #e0e0e0;
}

.results-table-header-row .results-table-col {
  font-weight: normal;
  font-size: medium;
}

.results-table-col-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-weight: bold;
  font-size: medium;
}

.results-table-col-right {
  width: 50%;
  padding: 10px;
  display: inline-block;
  text-align: left;
}

.avatarResults {
  width: 30px;
  height: 30px;
  border: solid 1px rgb(207, 207, 207);
  border-radius: 50%;
  cursor: help !important;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .authForm {
    padding: 0;
  }

  .gameWindow {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
  }

  .gameCards {
    margin-top: 0;
  }

  .gameFormContainer {
    padding-top: 0;
  }

  .revealCardFooterText {
    color: black;
    font-size: .8em;
    max-width: 11vw;
  }

  .usersColumn {
    width: 100%;
    height: auto;
    max-height: 59vh;
  }
}

@media only screen and (max-width: 575px) {
  .hostFormCard {
    margin-right: 0;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown-menu {
    padding: 0;
    width: 100%;
  }

  .signup-form-row {
    flex-direction: column;
  }

  .gameCard {
    width: 3.5em;
    height: 5.5em;
    margin: 3px;
    font-size: large;
  }

  .cardValue {
    font-size: x-large;
  }
}

@media only screen and (max-width: 1199px) {
  .results-row {
    flex-direction: column;
  }

  .results-col-l {
    width: 100% !important;
    margin: 0px !important;
  }

  .results-col-r {
    width: 100% !important;
    margin: 0px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1199.5px) {
  .userlist-group-col-l {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
  }

  .userlist-group-col-r {
    display: none;
  }
}